---
import HomeVariant from '../layouts/HomeVariant.astro';
import github from '../assets/images/github.jpg';
const date = "2026-05-16"
---

<HomeVariant title="" avatarUrl={github.src} date={date}>
  <h2 class="text-3xl font-medium text-base">Mateusz Kapusta <br/> Physics/ML @ ASML</h2>
  <div class="text-justify">
  My name is Mateusz Kapusta, I am a researcher working in the field of Bayesian inference, working mostly
  on the applications in Physics.
	Currently I am employed at the ASML facility in Veldhoven as Machine Learning/Optical engineer, where I apply various Bayesian
	methods to solve problems related to the optical column of NXE machines.
  </div>
</HomeVariant>
