---
import HomeVariant from '../layouts/HomeVariant.astro';
import github from '../assets/images/github.jpg';
const date = "2026-05-16"
---

<HomeVariant title="" avatarUrl={github.src} date={date}>
  <h2 class="text-3xl font-medium text-base">Mateusz Kapusta <br/> Physics/ML @ ASML</h2>
  <div class="text-justify">
  My name is Mateusz Kapusta, I a researcher in the field of Bayesian inference with the emphasisis on the deep
  probabilistic modeling. I am currently working at the ASML facility in Veldhoven as a Machine Learning/Optical
  engineer, where I apply various Bayesian models to solve problems related to the optical column of the
  NXE machines.
  </div>
</HomeVariant>
